---
- name: Install and start Nginx on Web Servers
  hosts: web_servers
  become: yes
  tasks:
    - name: Ensure nginx is installed
      apt:
        name: nginx
        state: present
        update_cache: yes

    - name: Ensure nginx is started and enabled
      service:
        name: nginx
        state: started
        enabled: yes

    - name: Create a simple custom index.html
      copy:
        content: "<h1>Welcome to My Diploma Web Server (web1)</h1>"
        dest: /var/www/html/index.html
